In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is C21A-2381

 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)

20-02-2022  10:32    <DIR>          .
20-02-2022  10:32    <DIR>          ..
20-02-2022  10:29    <DIR>          .ipynb_checkpoints
19-02-2022  13:25         1,065,086 1. 18th Feb 2022_Pandas.ipynb
20-02-2022  10:30           210,412 2. 19th Feb 2022_Pandas.ipynb
10-02-2022  22:04    <DIR>          flask_demo
19-02-2022  13:24             4,270 html_data0.csv
19-02-2022  13:24             2,159 html_data1.csv
19-02-2022  13:24             4,085 html_data2.csv
19-02-2022  13:24             2,429 html_data3.csv
19-02-2022  13:24             3,201 html_data4.csv
19-02-2022  13:24             2,117 html_data5.csv
20-02-2022  10:32                 0 ineuron.db
19-02-2022  12:09           116,981 json_dump.csv
19-02-2022  16:03             4,916 my_pickle
18-02-2022  14:00            32,627 Player.csv
18-02-2022  13:00            32,627 Player.csv.bak
19-02-2022  09:04             2,468 players_data.csv
18-02-2022  21:57    <DIR>          sample-excel-master
18-02-2022  13:54               423 test.csv
19-02-2022  16:17         1,137,688 test.h5
20-02-2022  10:29                72 Untitled.ipynb
              17 File(s)      2,621,561 bytes
               5 Dir(s)  107,863,523,328 bytes free

In [4]:
c= db.cursor() 
#after making a successfull connection with a db in my local system,
# we are creating a cursor and storing it in a variable by the 
#help of which we will be able to execute queries as per our wish

In [5]:
c.execute("create table fsds(name text, batchid int, marks real)") 
#just the datatype was different in SQL

In [6]:
%ls 
# now, we can see that the size of the ineuron.db file has increased

 Volume in drive C is Windows
 Volume Serial Number is C21A-2381

 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)


 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)

20-02-2022  10:37             8,192 ineuron.db
               1 File(s)          8,192 bytes
               0 Dir(s)  107,862,974,464 bytes free

In [7]:
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")

In [8]:
%ls
#again the size of the file has increased

 Volume in drive C is Windows
 Volume Serial Number is C21A-2381

 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)

20-02-2022  10:39    <DIR>          .
20-02-2022  10:39    <DIR>          ..
20-02-2022  10:29    <DIR>          .ipynb_checkpoints
19-02-2022  13:25         1,065,086 1. 18th Feb 2022_Pandas.ipynb
20-02-2022  10:30           210,412 2. 19th Feb 2022_Pandas.ipynb
10-02-2022  22:04    <DIR>          flask_demo
19-02-2022  13:24             4,270 html_data0.csv
19-02-2022  13:24             2,159 html_data1.csv
19-02-2022  13:24             4,085 html_data2.csv
19-02-2022  13:24             2,429 html_data3.csv
19-02-2022  13:24             3,201 html_data4.csv
19-02-2022  13:24             2,117 html_data5.csv
20-02-2022  10:37             8,192 ineuron.db
20-02-2022  10:39                 0 ineuron.db-journal
19-02-2022  12:09           116,981 json_dump.csv
19-02-2022  16:03             4,916 my_pickle
18-02-2022  14:00            32,627 Player.csv
18-02-2022  13:00            32,627 Player.csv.bak
19-02-2022  09:04             2,468 players_data.csv
18-02-2022  21:57    <DIR>          sample-excel-master
18-02-2022  13:54               423 test.csv
19-02-2022  16:17         1,137,688 test.h5
20-02-2022  10:38             6,246 Untitled.ipynb
              18 File(s)      2,635,927 bytes
               5 Dir(s)  107,862,691,840 bytes free

In [10]:
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")
c.execute("insert into fsds values('sudh', 1234, 345345.2353)")

In [11]:
data = c.execute("select * from fsds")

In [12]:
for i in data:
    print(i)

('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)

In [13]:
db.commit()

In [14]:
db.close()

In [15]:
#ineuron .journal is cache file that is auto generated and is deleted
#on its own after commit and close operation

%ls

 Volume in drive C is Windows
 Volume Serial Number is C21A-2381

 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)

20-02-2022  10:44    <DIR>          .
20-02-2022  10:44    <DIR>          ..
20-02-2022  10:29    <DIR>          .ipynb_checkpoints
19-02-2022  13:25         1,065,086 1. 18th Feb 2022_Pandas.ipynb
20-02-2022  10:30           210,412 2. 19th Feb 2022_Pandas.ipynb
10-02-2022  22:04    <DIR>          flask_demo
19-02-2022  13:24             4,270 html_data0.csv
19-02-2022  13:24             2,159 html_data1.csv
19-02-2022  13:24             4,085 html_data2.csv
19-02-2022  13:24             2,429 html_data3.csv
19-02-2022  13:24             3,201 html_data4.csv
19-02-2022  13:24             2,117 html_data5.csv
20-02-2022  10:43             8,192 ineuron.db
19-02-2022  12:09           116,981 json_dump.csv
19-02-2022  16:03             4,916 my_pickle
18-02-2022  14:00            32,627 Player.csv
18-02-2022  13:00            32,627 Player.csv.bak
19-02-2022  09:04             2,468 players_data.csv
18-02-2022  21:57    <DIR>          sample-excel-master
18-02-2022  13:54               423 test.csv
19-02-2022  16:17         1,137,688 test.h5
20-02-2022  10:44            10,571 Untitled.ipynb
              17 File(s)      2,640,252 bytes
               5 Dir(s)  107,864,821,760 bytes free

In [16]:
db = sqlite3.connect("ineuron.db")

In [17]:
c=db.cursor()

In [21]:
c.execute("select * from fsds where marks>400")

In [22]:
data = c.execute("select * from fsds where marks>400")

In [23]:
for i in data:
    print(i)

('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)

In [29]:
data = c.execute("select * from fsds where name = 'sudh'")
          
for i in data:
    print(i)

('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)
('sudh', 1234, 345345.2353)

In [31]:
data = c.execute("select name, marks from fsds")

for i in data:
    print(i)

('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)

In [32]:
data = c.execute("select name, marks from fsds order by marks")

for i in data:
    print(i)

('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)
('sudh', 345345.2353)

In [33]:
db.close()

In [35]:
db = sqlite3.connect("person.db")

In [36]:
c = db.cursor()

In [37]:
c.execute("create table person_table(name text, emailid text, age int, salary float)")

In [40]:
c.execute("insert into person_table values('sudh', 'sudhanshu@ineuron.ai', 234, 2343245)")
c.execute("insert into person_table values('prashant', 'prashant@ineuron.ai', 64, 24565)")
c.execute("insert into person_table values('krish', 'krish@ineuron.ai', 754, 875923)")
c.execute("insert into person_table values('sunny', 'sunny@ineuron.ai', 456, 54115)")

In [41]:
data = c.execute("select * from person_table")
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 2343245.0)
('prashant', 'prashant@ineuron.ai', 64, 24565.0)
('krish', 'krish@ineuron.ai', 754, 875923.0)
('sunny', 'sunny@ineuron.ai', 456, 54115.0)

In [42]:
db.commit()

In [43]:
db.close()

In [44]:
db = sqlite3.connect("ineuron.db")

In [45]:
c = db.cursor()

In [46]:
c.execute("drop table fsds")

In [47]:
db.commit()

In [48]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is C21A-2381

 Directory of C:\Users\Utkarsh\Classes\Fast Track Mode\5. Flask Recording Lecture (Sudhanshu Sir)

20-02-2022  11:04    <DIR>          .
20-02-2022  11:04    <DIR>          ..
20-02-2022  10:29    <DIR>          .ipynb_checkpoints
19-02-2022  13:25         1,065,086 1. 18th Feb 2022_Pandas.ipynb
20-02-2022  10:30           210,412 2. 19th Feb 2022_Pandas.ipynb
10-02-2022  22:04    <DIR>          flask_demo
19-02-2022  13:24             4,270 html_data0.csv
19-02-2022  13:24             2,159 html_data1.csv
19-02-2022  13:24             4,085 html_data2.csv
19-02-2022  13:24             2,429 html_data3.csv
19-02-2022  13:24             3,201 html_data4.csv
19-02-2022  13:24             2,117 html_data5.csv
20-02-2022  11:04             8,192 ineuron.db
19-02-2022  12:09           116,981 json_dump.csv
19-02-2022  16:03             4,916 my_pickle
20-02-2022  11:03             8,192 person.db
18-02-2022  14:00            32,627 Player.csv
18-02-2022  13:00            32,627 Player.csv.bak
19-02-2022  09:04             2,468 players_data.csv
18-02-2022  21:57    <DIR>          sample-excel-master
18-02-2022  13:54               423 test.csv
19-02-2022  16:17         1,137,688 test.h5
20-02-2022  11:02            18,061 Untitled.ipynb
              18 File(s)      2,655,934 bytes
               5 Dir(s)  107,862,667,264 bytes free

In [49]:
db.close()

In [50]:
db = sqlite3.connect("person.db")

In [51]:
c=db.cursor()

In [53]:
c.execute("SELECT * FROM person_table limit 2")

In [54]:
data =  c.execute("SELECT * FROM person_table limit 2")

In [55]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 2343245.0)
('prashant', 'prashant@ineuron.ai', 64, 24565.0)

In [56]:
db.close()

## join operation:

In [57]:
db = sqlite3.connect("jobdb.db")

In [58]:
c=db.cursor()

In [59]:
c.execute("create table student(student_id int,  student_name text, student_emailid text, marks int)")

In [60]:
c.execute("create table address(student_id int,  pincode int, location text, nearby text, phone_no text)")

In [69]:
c.execute("insert into student values(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 245)")
c.execute("insert into student values(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)")
c.execute("insert into student values(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 215)")
c.execute("insert into student values(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 275)")
c.execute("insert into student values(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)")
c.execute("insert into student values(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 225)")
c.execute("insert into student values(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 295)")
c.execute("insert into student values(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 235)")
c.execute("insert into student values(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)")

In [70]:
c.execute("insert into address values(234, 560034, 'whitefield','ineuron_office', 24585578)")
c.execute("insert into address values(235, 560034, 'whitefield','ineuron_office', 25574744)")
c.execute("insert into address values(236, 560034, 'whitefield','ineuron_office', 21555555)")
c.execute("insert into address values(237, 560034, 'whitefield','ineuron_office', 27555555)")
c.execute("insert into address values(238, 560034, 'whitefield','ineuron_office', 25555555)")
c.execute("insert into address values(239, 560034, 'whitefield','ineuron_office', 22555555)")
c.execute("insert into address values(240, 560034, 'whitefield','ineuron_office', 29555555)")
c.execute("insert into address values(241, 560034, 'whitefield','ineuron_office', 23555555)")
c.execute("insert into address values(242, 560034, 'whitefield','ineuron_office', 25555555)")

In [73]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 245)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)
(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 215)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 275)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 225)
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 295)
(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 235)
(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 255)

In [74]:
for i in c.execute("select * from address"):
    print(i)

(234, 560034, 'whitefield', 'ineuron_office', '24585578')
(235, 560034, 'whitefield', 'ineuron_office', '25574744')
(236, 560034, 'whitefield', 'ineuron_office', '21555555')
(237, 560034, 'whitefield', 'ineuron_office', '27555555')
(238, 560034, 'whitefield', 'ineuron_office', '25555555')
(239, 560034, 'whitefield', 'ineuron_office', '22555555')
(240, 560034, 'whitefield', 'ineuron_office', '29555555')
(241, 560034, 'whitefield', 'ineuron_office', '23555555')
(242, 560034, 'whitefield', 'ineuron_office', '25555555')

In [75]:
for i in c.execute("SELECT * FROM student T1 LEFT JOIN ADDRESS T2 ON T1.student_id = T2.student_id"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 245, 234, 560034, 'whitefield', 'ineuron_office', '24585578')
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 255, 235, 560034, 'whitefield', 'ineuron_office', '25574744')
(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 215, 236, 560034, 'whitefield', 'ineuron_office', '21555555')
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 275, 237, 560034, 'whitefield', 'ineuron_office', '27555555')
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 255, 238, 560034, 'whitefield', 'ineuron_office', '25555555')
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 225, 239, 560034, 'whitefield', 'ineuron_office', '22555555')
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 295, 240, 560034, 'whitefield', 'ineuron_office', '29555555')
(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 235, 241, 560034, 'whitefield', 'ineuron_office', '23555555')
(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 255, 242, 560034, 'whitefield', 'ineuron_office', '25555555')

In [82]:
store_room = []
for i in c.execute("SELECT * FROM student T1 LEFT JOIN ADDRESS T2 ON T1.student_id = T2.student_id"):
    store_room.append(i)

with open("newfile.csv", "w") as file:
    for i in store_room:
        file.write(str(i))

import pandas as pd
pd.read_csv("newfile.csv")

##its a challenge for me to dump the left joined data into a proper table format

Empty DataFrame
Columns: [(234,  'sudhanshu',  'sudhanshu@ineuron.ai',  245,  234,  560034,  'whitefield',  'ineuron_office',  '24585578')(235,  'sudhanshu'.1,  'sudhanshu@ineuron.ai'.1,  255,  235,  560034.1,  'whitefield'.1,  'ineuron_office'.1,  '25574744')(236,  'sudhanshu'.2,  'sudhanshu@ineuron.ai'.2,  215,  236,  560034.2,  'whitefield'.2,  'ineuron_office'.2,  '21555555')(237,  'sudhanshu'.3,  'sudhanshu@ineuron.ai'.3,  275,  237,  560034.3,  'whitefield'.3,  'ineuron_office'.3,  '27555555')(238,  'sudhanshu'.4,  'sudhanshu@ineuron.ai'.4,  255.1,  238,  560034.4,  'whitefield'.4,  'ineuron_office'.4,  '25555555')(239,  'sudhanshu'.5,  'sudhanshu@ineuron.ai'.5,  225,  239,  560034.5,  'whitefield'.5,  'ineuron_office'.5,  '22555555')(240,  'sudhanshu'.6,  'sudhanshu@ineuron.ai'.6,  295,  240,  560034.6,  'whitefield'.6,  'ineuron_office'.6,  '29555555')(241,  'sudhanshu'.7,  'sudhanshu@ineuron.ai'.7,  235.1,  241,  560034.7,  'whitefield'.7,  'ineuron_office'.7,  '23555555')(242,  'sudhanshu'.8,  'sudhanshu@ineuron.ai'.8,  255.2,  242,  560034.8,  'whitefield'.8,  'ineuron_office'.8,  '25555555')]
Index: []

[0 rows x 73 columns]

In [ ]:
store_room = []
for i in c.execute("SELECT * FROM student T1 LEFT JOIN ADDRESS T2 ON T1.student_id = T2.student_id"):
    store_room.append(list(i))
    
for i in store_room:
    variable = "/n".join()
with open("newfile1.csv", "w") as file:
    for i in store_room:
        file.write(str(i))

import pandas as pd
pd.read_csv("newfile.csv")

##its a challenge for me to dump the left joined data into a proper table format

# map, reduce and filter

### map

In [85]:
l = [1,2,3,4,5,6]

In [87]:
l1 = []
for i in l:
    l1.append(i+5)
l1

[6, 7, 8, 9, 10, 11]

In [88]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [89]:
def test(a):
    return a+5

In [90]:
map(test,l)

In [91]:
variable = map(test,l)

In [92]:
print(variable)

<map object at 0x0000019CAE54FAF0>

In [93]:
list(variable)

[6, 7, 8, 9, 10, 11]

#map function is calling a specific function in the first argument and then it is performing the same function in the second iterable argument

In [94]:
def test(a):
    return a*823748734

tuple(map(test,l))

(823748734, 1647497468, 2471246202, 3294994936, 4118743670, 4942492404)

In [95]:
l1 = ["234", "345", "543", "5434", "34554", "763246"]

In [96]:
def typecaster(a):
    return int(a)
list(map(typecaster,l1))

[234, 345, 543, 5434, 34554, 763246]

In [99]:
list(map(lambda a : int(a), l1))

[234, 345, 543, 5434, 34554, 763246]

In [101]:
list(map(lambda a : int(a)+5, l1))

[239, 350, 548, 5439, 34559, 763251]

### filter

In [102]:
l = [4,5,6,7,78,8,78]

In [105]:
def even_check(n):
    if n%2==0:
        return n
    
list(filter(even_check, l))

[4, 6, 78, 8, 78]

#map = for loop(it understands TRUE for every element)

#filter = for loop + True for a given condition

In [108]:
list(filter(lambda x : x%2==0,l))

[4, 6, 78, 8, 78]

### reduce

In [109]:
from functools import reduce

In [110]:
l = [3,4,5,6,7,3,8]

In [111]:
sum(l)

36

In [114]:
reduce(lambda x,y: x*y, l )

60480

In [115]:
reduce(lambda x,y: x+y, l )

36

In [117]:
l =[3]

In [118]:
reduce(lambda x,y: x+y, l)

3

In [116]:
reduce(lambda x,y: x+y, 5 )

TypeError: reduce() arg 2 must support iteration

### zip

In [119]:
l= [1,2,3,4,5]
l1 = [4,5,6,7,7]

list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

Task for today:

1. try to find out the count of each and every word in a respective file. return a list of tuple with word and its respective count.

sample ouput [("sudh", 6),("kumar",8)]

2. Try to perform a reduce operation to get a count of all the words starting with same alphabet

sample output [(a,234),(b,456),........]

3. filter all the words from dataset



4. create a tuple set of all the records available in all the five files and then store it in sqlite DB. 

#zip operation


https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words/

In [ ]:
"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """